<style>
  .demo-card-square.mdl-card {
    width: 100%px;
    /*height: 320px;*/
  }
  /*.demo-card-square > .mdl-card__title {*/
    /*color: #fff;*/
    /*background:*/
      /*url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*/
  /*}*/
</style>

<div *ngIf="recipe" class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">{{ recipe.name }}</h2>
  </div>

  <div class="mdl-card__media">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 300px">
  </div>

  <div class="mdl-card__supporting-text">{{ recipe.description }}</div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Updates
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Edit
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Delete
    </a>
  </div>
</div>

<!--<div *ngIf="!recipe" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>-->

<div *ngIf="recipe">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 300px">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
          <li><a (click)="onEditRecipe()" style="cursor: pointer">Edit Recipe</a></li>
          <li><a (click)="onDeleteRecipe()" style="cursor: pointer">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
